<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            margin: 0%;
        }
        .logotable,
        .logotd,
        .logoth {
            border: 1px solid;
        }

        .logotable {
            /* width: 100%; */
            border-collapse: collapse;
        }

        
        .main {
            display: flex;
            flex-direction: row;
            /* font-size: 30px; */
            /* color: green; */
            /* border: 4px solid black; */
            /* padding: 5px; */
            /* width: 400px; */
        }
  
        /* .main div {
            border: 2px solid red;
            margin: 10px 20px;
            width: 100px;
        } */

        .diagonalCross2 {
            background: linear-gradient(to bottom right, #fff calc(50% - 1px), black , #fff calc(50% + 1px) )
        }

        .signtop{
            border: 1px solid black;
            /* width: 80px; */
        }

        .signtopth {
            border: 1px solid black;
            width: 80px;
        }

        .signtoptd{
            height: 100px;
            border: 1px solid black;
        }
        .signtopthbtm{
            width: 80px;
            font-size:12px;
            border: 1px solid black;
        }
        .signhrd{
            font-size: 100px;
        }
        
    </style>
</head>

<body>
    <div style=" width: 770px; " id="formulir2lembar">
        <table class="logotable">
            <tr class="logotr">
                <th class="logoth">
                    <img src="HWASEUNG.png" alt="" style="width: 100px; padding: 5px;">
                </th>
                <th class="logoth" style="width: 300px;">
                    FORMULIR PENGAMBILAN <br>
                    SURAT KETERANGAN KERJA
                </th>
                <th class="logoth">
                    <table style="text-align: left;">
                        <tr>
                            <td>Nomor Dokument</td>
                        </tr>
                        <tr>
                            <td>Tanggal Pengesahan</td>
                        </tr>
                        <tr>
                            <td>Efektif Berlaku</td>
                        </tr>
                        <tr>
                            <td>Masa Berlaku</td>
                        </tr>
                        <tr>
                            <td>revisi</td>
                        </tr>
                        <tr>
                            <td>Halaman</td>
                        </tr>
                    </table>
                </th>
                <th class="logoth">
                    <table style="text-align: left;">
                        <tr>
                            <td>HRD-ABS/HWI/FORM-017</td>
                        </tr>
                        <tr>
                            <td>03 Mei 2018</td>
                        </tr>
                        <tr>
                            <td>03 Mei 2018</td>
                        </tr>
                        <tr>
                            <td>1 (satu) Tahun</td>
                        </tr>
                        <tr>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>1/1</td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>

        <div style="text-align: right;">Jepara, &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <table style="text-align: left;">
            <tr>
                <td>Yang Bertanda tangnan dibawah ini :</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>NIK ID Card</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Gedung</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Jabatan</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Masuk</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Permohonan Keluar</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Surat</td>
                <td>:</td>
                <td></td>
            </tr>
        </table>

        <p style="text-align: left;">telah menyampaikan surat pengunduran diri kepada bagian Human Resource Development. </p>

        <h6 style="margin: 0%; font-weight: normal;"><i>Catatan :</i></h6>
        <h6 style="margin: 0%;"><li><i>Diberikan kepada karyawan</i></li></h6>
        <h6 style="margin: 0%;"><li><i>Mohon untuk dibawa ketika pengambilan Surat Keterangan Kerja dan diserahkan ke bagian HRD melalui Receptionist.</i></li></h6>
        <h6 style="margin: 0%;">
            ...................................................................................................................................
            potong disini
            ...................................................................................................................................
        </h6>

        <table class="logotable">
            <tr class="logotr">
                <th class="logoth">
                    <img src="HWASEUNG.png" alt="" style="width: 100px; padding: 5px;">
                </th>
                <th class="logoth" style="width: 300px;">
                    FORMULIR PENGAMBILAN <br>
                    SURAT KETERANGAN KERJA
                </th>
                <th class="logoth">
                    <table style="text-align: left;">
                        <tr>
                            <td>Nomor Dokument</td>
                        </tr>
                        <tr>
                            <td>Tanggal Pengesahan</td>
                        </tr>
                        <tr>
                            <td>Efektif Berlaku</td>
                        </tr>
                        <tr>
                            <td>Masa Berlaku</td>
                        </tr>
                        <tr>
                            <td>revisi</td>
                        </tr>
                        <tr>
                            <td>Halaman</td>
                        </tr>
                    </table>
                </th>
                <th class="logoth">
                    <table style="text-align: left;">
                        <tr>
                            <td>HRD-ABS/HWI/FORM-017</td>
                        </tr>
                        <tr>
                            <td>03 Mei 2018</td>
                        </tr>
                        <tr>
                            <td>03 Mei 2018</td>
                        </tr>
                        <tr>
                            <td>1 (satu) Tahun</td>
                        </tr>
                        <tr>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>1/1</td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>

        <table style="text-align: left;">
            <tr>
                <td>Yang Bertanda tangnan dibawah ini :</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>NIK ID Card</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Gedung</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Jabatan</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Masuk</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Permohonan Keluar</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Surat</td>
                <td>:</td>
                <td></td>
            </tr>
        </table>
        <p style="text-align: left;">telah menyampaikan surat pengunduran diri kepada bagian Human Resource Development. </p>

        <table>
            <tr>
                <th  style="width: 100px;">
                    
                </th>
                <th  style="width: 300px;">
                    
                </th>
                <th  style="width: 150px;">
                   
                </th>
                <th >
                    <table>
                        <tr style="text-align: left; font-weight: normal;">
                            <td>Jepara,</td>
                        </tr>
                        <tr style="font-weight: normal;">
                            <td>Yang Bersangkutan,</td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                            </td>
                        </tr>
                        <tr>
                            <td>(...........................................)</td>
                        </tr>
                    </table>
                </th>
            </tr>
        </table>

    </div>
====================================================================================================================
<br>    hello <br>
====================================================================================================================
    <!-- SURAT PERMOHONAN PENGUNDURAN DIRI -->
    <div style=" width: 703px; margin:0%; border: 1px solid black" id="formulir2lembar">
        
        <table class="logotable" style="border: 1px solid black"">
            <tr>
                <td class="logotd" rowspan="5">
                    <img src="HWASEUNG.png" alt="" style="width: 100px; padding: 5px;">
                </td>
            </tr>
            <tr>
                <td class="logotd" rowspan="2" style="text-align: center; width: 200px;">FORMULIR</td>
                <td class="logotd"  rowspan="3" style="text-align: center; width: 60px;">
                    <h3>
                        Versi
                    </h3>
                </td>
                <td class="logotd" style="margin-left: 30px;">Nomor Dokumen</td>
                <td class="logotd">HRD-ABS/HWI/FORM-016</td>
            </tr>
            <tr>
                
                <td class="logotd">Tanggal Pengesahan</td>
                <td class="logotd">10 Oktober 2017</td>
                
            </tr>
            <tr>
                <td class="logotd" rowspan="2" style="text-align: center;">Sistem Manajemen 
                    <br> Ketenagakerjaan
                </td>
                <td class="logotd">Efektif Berlaku</td>
                <td class="logotd">10 Oktober 2017</td>
            </tr>
            <tr>
                <td class="logotd" rowspan="3" style="text-align: center;">
                    <h3>
                        01
                    </h3>
                </td>
                <td class="logotd" >Masa Berlaku</td>
                <td class="logotd">1 (SATU) Tahun</td>
            </tr>  
            <tr>
                <td class="logotd" rowspan="2" colspan="2" style="text-align: center;">Departemen Human Resource</td>
                <td class="logotd">Reivisi</td>
                <td class="logotd">0</td>
            </tr>
            <tr>
                <td class="logotd">Halaman</td>
                <td class="logotd">1/1</td>
            </tr>
        </table>

        <u>
            <h3 style="text-align: center;">SURAT PERMOHONAN PENGUNDURAN DIRI</h3>
        </u>
        <tr>
            <td>Yang Bertanda tangnan dibawah ini ;</td>
            <td></td>
            <td></td>
        </tr>

        <table style="text-align: left;">
            
            <tr>
                <td>Nama</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>NIK ID Card</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Bagian / Jabatan</td>
                <td>:</td>
                <td></td>
            </tr>

            <tr>
                <td>Departemen</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Masuk</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Tanggal Lahir</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Alamat</td>
                <td>:</td>
                <td></td>
            </tr>
        </table>
        <p style="text-align: left;">Bermaksud mengajukan Surat Pengunduran Diri ini (Resign) dari PT. Hwa Seung Indonesia, Terhitung mulai; </p>
        <table>
            <tr>
                <td>Hari, Tanggal</td>
                <td>:</td>
                <td></td>
            </tr>
            <tr>
                <td>Alasan</td>
                <td>:</td>
                <td></td>
            </tr>
        </table>
        <p style="text-align: left;">Demikian Surat Permohonan Diri ini Saya ajukan dengan sebenar-benarnya, terima kasih atas perhatiannya. </p>
        
        <p style="text-align: left;">Jepara, </p>
        
        <div class="main">
            <div style="width: 150px;">
                <br>
                <table>

                    <tr>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hormat Saya,
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>&nbsp;</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>(...........................)</p>
                        </td>
                    </tr>                    
                </table>
            </div>
            <div>
                <table class="signtop" style="border-collapse: collapse;">
                    <tr>
                      <th class="signtopth"><h6>STAFF</h6></th>
                      <th class="signtopth"><h6>SPV / MANAGER</h6></th>
                      <th class="signtopth"><h6>F. MANAGER</h6></th>
                      <th class="signtopth"><h6>A. MANAGER<br> SR. MANAGER</h6></th>
                      <th class="signtopth"><h6>ASST. <br> DIRECTUR</h6></th>
                      <th class="signtopth"><h6>SENIOR. <br> DIRECTUR</h6></th>
                      <th class="signtopth"><h6>PRESS. <br> DIRECTUR</h6></th>
                    </tr>
                    <tr>
                      <td class="signtoptd"></td>
                      <td class="diagonalCross2"></td>
                      <td class="signtoptd"></td>
                      <td class="diagonalCross2"></td>
                      <td class="signtoptd"></td>
                      <td class="signtoptd"></td>
                      <td class="signtoptd"></td>
                    </tr>
                  </table>
            </div>
           
        </div>
        
        <br>

        <div class="main">
            <div style="width: 400px;">
               
            </div>
            <div>
                <table border="1" style="border-collapse: collapse;" id="signhrd">
                    <tr>
                      <th class="signtopthbtm" colspan="2" style="font-size:12px; margin: 0px; padding: 0px;">HRD</th>
                      <th class="signtopthbtm" rowspan="2">DIRECTUR</th>
                      <th class="signtopthbtm" rowspan="2">SENIOR <br> DIRECTUR</th>
                    </tr>
                    <tr>
                        <th  class="signtopthbtm">STAFF</th>
                        <th  class="signtopthbtm">MANAGER</th>
                      </tr>
                    <tr>
                      <td class="signtoptd"></td>
                      <td class="signtoptd"></td>
                      <td class="signtoptd"></td>
                      <td class="signtoptd"></td>
                    </tr>
                  </table>
            </div>
           
        </div>




  



    </div>

</body>

</html>